<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RegensburgNutritionServer</display-name>
  <context-param>
  <param-name>BasicFuncImpl</param-name>
  <param-value>de.ur.infwiss.nutrition.basicfunc.BasicFuncImpl_Test</param-value>
  </context-param>
   <context-param>
  <param-name>RegistrationLogfile</param-name>
  <param-value>/home/sistbien/temp/reglog</param-value>
  </context-param>
   <servlet>
   <servlet-name>de.ur.infwiss.nutrition.server.resources.NutServerApp</servlet-name>
   </servlet>
 
    <!-- Servlet mapping can be omitted in case the Application subclass
         is annotated with @ApplicationPath annotation; in such case
         the mapping would be automatically added by Jersey -->
    <servlet-mapping>
        <servlet-name>de.ur.infwiss.nutrition.server.resources.NutServerApp</servlet-name>
        <url-pattern>/rest/*</url-pattern>
    </servlet-mapping>
</web-app>